/* Utilities */
.dark {
    background-color: #343a40;
}


body {
    font-size: calc(0.4vw + 1.5vh) !important;
}



.lime {
    color: greenyellow;
}

.gradient {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}


.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.project-img {
    object-fit: scale-down;
    height: 100%;
    width: 100%;
}


#project-container {
    padding: 0;
}

#project-container img {
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    body {
        font-size: 16px;
    }

    h1 {
        font-size: 13px;
    }
}